<div class="container">
  <h2>Drug-AE Pairs found in DS notes:</h2>
  <div *ngFor="let pair of drugPairs; let i = index; trackBy: trackByPair">
    <div class="drug-ae-pair">
      <h3>Drug-AE Pair {{i + 1}}</h3>
      <div>
        <label>Drug in ADR</label>
        <input [(ngModel)]="pair.drug_name" placeholder="Drug" />
        <span *ngIf="pair.drug_name == ''" class="error-message">Drug name is required.</span>
      </div>
      <div>
        <label>AE in ADR</label>
        <input [(ngModel)]="pair.ae_name" placeholder="AE" />
        <span *ngIf="pair.ae_name == ''" class="error-message">AE name is required.</span>

      </div>
      <div *ngFor="let context of pair.contexts; let j = index; trackBy: trackByIndex">
        <label>Context {{j + 1}}</label>
        <input [(ngModel)]="pair.contexts[j]" placeholder="Context" />
        <span *ngIf="pair.contexts[j] == ''" class="error-message">Context is required.</span>
        <div>
          <button (click)="removeContext(pair, j)">Delete Context</button>    
        </div>

      </div>
      <div>
        
      </div>
      <button (click)="addContext(pair)">+ Add Context</button>
      <div>
        <label>Drug ADR Possibility</label>
        <div>
          <input type="radio" [(ngModel)]="pair.adr_possibilities" [value]="1" (change)="updateAdrPossibilities(pair, 1)" /> True
          <input type="radio" [(ngModel)]="pair.adr_possibilities" [value]="0" (change)="updateAdrPossibilities(pair, 0)" /> False
          <input type="radio" [(ngModel)]="pair.adr_possibilities" [value]="-1" (change)="updateAdrPossibilities(pair, -1)" /> Uncertain
          
        </div>
      </div>
      
      <div>
        <label>Remarks (Optional)</label>
        <textarea [(ngModel)]="pair.remarks"></textarea>
      </div>
      <button (click)="deleteDrugPair(pair.id)">Delete</button>
    </div>
  </div>
  <button (click)="addDrugPair()">+ Add Drug AE Pair</button>
  <button (click)="saveDrugPairs()">Save All</button>
</div>
